@import '../../index.module.scss';

.wrapper {
	position: fixed;
	inset: 0px;
	overflow: auto;
	padding-left: 16rem;
	padding-right: 16rem;
	padding-bottom: calc( 16rem + var(--tabbarheight) );
	& > *:first-child {
		padding-top: 24rem;
		padding-bottom: 24rem;
	}
}


.grid {
	display: grid;
	column-gap: 8rem;
	row-gap: 8rem;
	grid-template-columns: 1fr 1fr 1fr;
	color: var(--closeButtonFg);
	font-size: 12rem;
	letter-spacing: -0.08px;

	& > * {
		border-radius: 12px;
		background-color: var(--closeButtonBg);
		padding-left: 16rem;
		padding-right: 16rem;
		padding-top: 8rem;
		padding-bottom: 12rem;
	}

	.name {
		text-align: center;
	}

	.image {
		aspect-ratio: 1/1;
		margin-bottom: 8rem;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.send {
		background-color: #007AFF;
		border-radius: 100px;
		color: white;
		padding-top: 6rem;
		padding-bottom: 6rem;
		// padding-left: 16rem;
		// padding-right: 16rem;
		font-weight: 600;
		text-align: center;
		font-size: 13rem;
		letter-spacing: -0.08px;
	}

}