@import '../../index.module.scss';

.noItems {
	text-align: center;
	background-color: var(--closeButtonBg);
	padding-bottom: 32rem;
	padding-top: 32rem;
	padding-left: 16rem;
	padding-right: 16rem;
	border-radius: 12px;
	display: flex;
	color: var(--textColor);
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	font-size: 17rem;
	gap: 16rem;

	& > *:first-child {
		@include allsize(100rem);
	}

	& > *:last-child {
		color: #007AFF;
	}
}
