@import '../../index.module.scss';



.listView {
	position: absolute;
	inset: 0px;
	display: flex;
	flex-direction: column;

	.scrollbox {
		flex: 1;
		overflow: auto;
		padding-left: adaptiveSize(16);
		padding-right: adaptiveSize(16);
		padding-bottom: calc( adaptiveSize(16) + var(--tabbarheight) );
		& > *:first-child {
			margin-bottom: adaptiveSize(32);
			margin-top: adaptiveSize(24);
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: adaptiveSize(12);
		row-gap: adaptiveSize(12);
	}

	.item {
		position: relative;
		text-align: center;
		border-radius: 12px;
		overflow: hidden;
		background: linear-gradient(180deg, var(--fromColor) 0%, var(--toColor) 100%);


		&::before {
			content: '';
			position: absolute;
			inset: 0px;
			background-image: url('./images/pattern.svg');
			background-position: left top;
			opacity: 0.07;
		}

		padding-bottom: adaptiveSize(16);
		padding-left: adaptiveSize(23.25);
		padding-top: adaptiveSize(34);
		padding-right: adaptiveSize(23.25);

		& > * {
			position: relative;
		}


		.image {
			aspect-ratio: 1/1;
			background-position: center;
			background-size: contain;
			pointer-events: none;
			margin-bottom: adaptiveSize(4);
		}
		
		

		.count {
			font-size: adaptiveSize(13);
			color: var(--textColor);
			opacity: 0.5;
			position: absolute;
			top: adaptiveSize(8);
			right: adaptiveSize(12);
		}
		
		
		.label {
			font-weight: 600;
			font-size: adaptiveSize(17);
			margin-bottom: adaptiveSize(12);
			color: var(--textColor);
		}
		
		.button {
			background-color: #007AFF;
			display: inline-flex;
			align-items: center;
			border-radius: 100px;
			color: white;
			font-weight: 600;
			font-size: adaptiveSize(13);
			padding-top: adaptiveSize(3);
			padding-bottom: adaptiveSize(3);
			padding-right: adaptiveSize(16);
			padding-left: adaptiveSize(12);
			
			&::before {
				content: '';
				display: block;
				@include allsize(adaptiveSize(24));
				
				background-color: currentColor;
				mask-image: var(--currencyIcon);
				mask-size: auto 60%;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}

		.soldout {
			background-color: #8E8E931A;
			color: var(--closeButtonFg);
			font-weight: 600;
			text-transform: uppercase;
			&::before { 
				display: none;
			}
			padding-top: adaptiveSize(6);
			padding-bottom: adaptiveSize(6);
			padding-right: adaptiveSize(16);
			padding-left: adaptiveSize(16);
		}
	}
	

}



.itemView {
	position: absolute;
	inset: 0px;
	padding: adaptiveSize(16);
	overflow: hidden auto;
	// opacity: 0;

	.imageOuter {
		aspect-ratio: 1/1;
		border-radius: 16px;
		margin-bottom: adaptiveSize(12);
		position: relative;
		background: linear-gradient(180deg, var(--fromColor) 0%, var(--toColor) 100%);
		display: flex;
		align-items: center;
		justify-content: center;



		&::before {
			content: '';
			position: absolute;
			inset: 0px;
			opacity: 0.07;
			background-image: url('./images/pattern.svg');
		}

		.imageInner {
			position: absolute;
			width: adaptiveSize(267.87);
			height: adaptiveSize(267.87);
			background-image: var(--image);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

	}
	
	.titleAndCount {
		display: flex;
		align-items: center;
		gap: adaptiveSize(12);
		margin-bottom: adaptiveSize(8);
		& > *:nth-child(1) {
			font-size: adaptiveSize(24);
			font-weight: 600;
			color: var(--textColor);
		}
		& > *:nth-child(2) {
			font-weight: 500;
			background-color: #007AFF1F;
			border-radius: 100px;
			padding-left: adaptiveSize(8);
			padding-right: adaptiveSize(8);
			line-height: adaptiveSize(22);
			font-size: adaptiveSize(14);
			color: #007AFF;
		}
	}

	.description {
		color: #8E8E93;
		font-size: adaptiveSize(17);
		font-weight: 400;
		margin-bottom: adaptiveSize(8);
	}

	.price {
		display: flex;
		gap: adaptiveSize(8);
		font-weight: 500;
		font-size: adaptiveSize(17);
		align-items: center;
		margin-bottom: adaptiveSize(8);
		color: var(--textColor);
		&::before {
			content: '';

			@include allsize(adaptiveSize(20));
			
			border-radius: 100%;
			background-color: var(--currencyColor);
			background-image: var(--currencyIcon);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60%;
		}
	}

	.divider {
		min-height: adaptiveSize(12);
		background-color: var(--dividerColor);
		margin-left: calc(adaptiveSize(16) * -1);
		margin-right: calc(adaptiveSize(16) * -1);
		margin-bottom: adaptiveSize(24);
	}

	.recentActionsTitle {
		color: #6D6D71;
		text-transform: uppercase;
		font-size: adaptiveSize(13);
		margin-bottom: adaptiveSize(12);
	}

	.recentActionsTitle ~ div {
		display: flex;
		align-items: center;
		padding-top: adaptiveSize(13);
		color: var(--textColor);
		
		
		&:not(:last-child) {
			padding-bottom: adaptiveSize(13);
		}


		.avatar {
			@include allsize(adaptiveSize(40));
			margin-right: adaptiveSize(12);
		}


	}

	.text > *:first-child {
		color: var(--closeButtonFg);
		font-size: adaptiveSize(13);
	}


	.text span {
		color: #007AFF;
	}
}