@import '../../index.module.scss';



.listView {
	position: absolute;
	inset: 0px;
	display: flex;
	flex-direction: column;

	.scrollbox {
		flex: 1;
		overflow: auto;
		padding-left: 16rem;
		padding-right: 16rem;
		padding-bottom: calc( 16rem + var(--tabbarheight) );
		& > *:first-child {
			margin-bottom: 32rem;
			margin-top: 24rem;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 12rem;
		row-gap: 12rem;
	}

	.item {
		position: relative;
		text-align: center;
		border-radius: 12px;
		overflow: hidden;
		background: linear-gradient(180deg, var(--fromColor) 0%, var(--toColor) 100%);


		&::before {
			content: '';
			position: absolute;
			inset: 0px;
			background-image: url('./images/pattern.svg');
			background-position: left top;
			opacity: 0.07;
		}

		padding-bottom: 16rem;
		padding-left: 23.25rem;
		padding-top: 34rem;
		padding-right: 23.25rem;

		& > * {
			position: relative;
		}


		.image {
			aspect-ratio: 1/1;
			background-position: center;
			background-size: contain;
			pointer-events: none;
			margin-bottom: 4rem;
		}
		
		

		.count {
			font-size: 13rem;
			color: var(--textColor);
			opacity: 0.5;
			position: absolute;
			top: 8rem;
			right: 12rem;
		}
		
		
		.label {
			font-weight: 600;
			font-size: 17rem;
			margin-bottom: 12rem;
			color: var(--textColor);
		}
		
		.button {
			background-color: #007AFF;
			display: inline-flex;
			align-items: center;
			border-radius: 100px;
			color: white;
			font-weight: 600;
			font-size: 13rem;
			padding-top: 3rem;
			padding-bottom: 3rem;
			padding-right: 16rem;
			padding-left: 12rem;
			
			&::before {
				content: '';
				display: block;
				@include allsize(24rem);
				
				background-color: currentColor;
				mask-image: var(--currencyIcon);
				mask-size: auto 60%;
				mask-repeat: no-repeat;
				mask-position: center;
			}
		}

		.soldout {
			background-color: #8E8E931A;
			color: var(--closeButtonFg);
			font-weight: 600;
			text-transform: uppercase;
			&::before { 
				display: none;
			}
			padding-top: 6rem;
			padding-bottom: 6rem;
			padding-right: 16rem;
			padding-left: 16rem;
		}
	}
	

}



.itemView {
	position: absolute;
	inset: 0px;
	padding: 16rem;
	overflow: hidden auto;
	// opacity: 0;

	.imageOuter {
		aspect-ratio: 1/1;
		border-radius: 16px;
		margin-bottom: 12rem;
		position: relative;
		background: linear-gradient(180deg, var(--fromColor) 0%, var(--toColor) 100%);
		display: flex;
		align-items: center;
		justify-content: center;



		&::before {
			content: '';
			position: absolute;
			inset: 0px;
			opacity: 0.07;
			background-image: url('./images/pattern.svg');
		}

		.imageInner {
			position: absolute;
			width: 267.87rem;
			height: 267.87rem;
			background-image: var(--image);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

	}
	
	.titleAndCount {
		display: flex;
		align-items: center;
		gap: 12rem;
		margin-bottom: 8rem;
		& > *:nth-child(1) {
			font-size: 24rem;
			font-weight: 600;
			color: var(--textColor);
		}
		& > *:nth-child(2) {
			font-weight: 500;
			background-color: #007AFF1F;
			border-radius: 100px;
			padding-left: 8rem;
			padding-right: 8rem;
			line-height: 22rem;
			font-size: 14rem;
			color: #007AFF;
		}
	}

	.description {
		color: #8E8E93;
		font-size: 17rem;
		font-weight: 400;
		margin-bottom: 8rem;
	}

	.price {
		display: flex;
		gap: 8rem;
		font-weight: 500;
		font-size: 17rem;
		align-items: center;
		margin-bottom: 8rem;
		color: var(--textColor);
		&::before {
			content: '';

			@include allsize(20rem);
			
			border-radius: 100%;
			background-color: var(--currencyColor);
			background-image: var(--currencyIcon);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 60%;
		}
	}

	.divider {
		min-height: 12rem;
		background-color: var(--dividerColor);
		margin-left: calc(16rem * -1);
		margin-right: calc(16rem * -1);
		margin-bottom: 24rem;
	}

	.recentActionsTitle {
		color: #6D6D71;
		text-transform: uppercase;
		font-size: 13rem;
		margin-bottom: 12rem;
	}

	.recentActionsTitle ~ div {
		display: flex;
		align-items: center;
		padding-top: 13rem;
		color: var(--textColor);
		
		
		&:not(:last-child) {
			padding-bottom: 13rem;
		}


		.avatar {
			@include allsize(40rem);
			margin-right: 12rem;
		}


	}

	.text > *:nth-child(1) {
		color: var(--closeButtonFg);
		font-size: 13rem;
	}

	.text > *:nth-child(2) {
		font-size: 17rem;
	}


	.text span {
		color: #007AFF;
	}
}