@import '../../index.module.scss';

.wrapper {
	position: fixed;
	inset: 0px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.noItems {
	margin-left: 16rem;
	margin-right: 16rem;
}

.header {
	margin-top: 8rem;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.avatarWrapper {
		position: relative;
		margin-bottom: 23rem;
		
		.avatar {
			@include allsize(100rem);
		}

		.number {
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translate(-50%, 50%);
			background-color: #8E8E93;
			display: inline-flex;
			font-size: 14rem;
			line-height: 22rem;
			font-weight: 500;
			color: white;
			border: 2px solid white;
			align-items: center;
			justify-content: center;
			align-content: center;
			line-height: 22rem;
			max-height: 22rem;
			min-height: 22rem;
			border-radius: 100rem;
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}

	.nameWrapper {
		display: flex;
		font-weight: 600;
		color: var(--textColor);
		margin-bottom: 4rem;
		font-size: 24rem;
	}

	.giftsReceived {
		margin-bottom: 24rem;
		font-weight: 400;
		font-size: 17rem;
		color: var(--closeButtonFg);
	}

	.recentActions {
		display: flex;
		gap: 7.5rem;
		color: #007AFF;
		align-items: center;
		justify-content: center;
		align-content: center;
		font-weight: 510;;
		font-size: 17rem;
		margin-bottom: 24rem;
		&::before {
			content: '';
			display: block;
			@include allsize(16rem);
			background-image: url('./clock.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

}

.scrollbox {
	padding-left: 16rem;
	padding-right: 16rem;
	flex: 1;
	// overflow: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: auto;
	row-gap: 8rem;
	column-gap: 8rem;
	padding-bottom: calc( 16rem + var(--tabbarheight) );
	color: var(--textColor);
	
	
	& > * {
		border-radius: 12px;
		background-color: var(--closeButtonBg);
		padding: 12rem;
		// padding-right: 16rem;
		padding-top: 30rem;
		// padding-bottom: 12rem;
		overflow: hidden;
		text-align: center;
		position: relative;
	}

	.from {
		position: absolute;
		@include allsize(16rem);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 100%;
		left: 6rem;
		top: 9rem;
	}

	.stats {
		position: absolute;
		top: 8rem;
		right: 12rem;
		font-size: 12rem;
		letter-spacing: -0.08px;
		line-height: 18rem;
		font-weight: 400;
		color: var(--closeButtonFg);
	}

	.image {
		aspect-ratio: 1/1;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.name {
		font-size: 14rem;
		letter-spacing: -0.44px;
		line-height: 18rem;
		font-weight: 500;
	}

}