@import '../../index.module.scss';

.wrapper {
	position: fixed;
	inset: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 16rem solid transparent;
	align-items: center;
	align-content: center;
	text-align: center;
	color: var(--textColor);
}

.image {
	@include allsize(100rem);
	aspect-ratio: 1/1;
	margin-bottom: 16rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-size: 24rem;
	font-weight: 600;
	margin-bottom: 8rem;
}

.subtitle {
	font-size: 17rem;
	font-weight: 400;
}

.toast {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: var(--toastBg);
	border-radius: 14px;
	color: white;
	padding-top: 9rem;
	padding-bottom: 9rem;
	padding-left: 16rem;
	padding-right: 16rem;
	display: flex;
	text-align: left;
	align-items: center;
	gap: 13rem;
	line-height: 18rem;
	letter-spacing: -0.15px;
	font-size: 14rem;
	&::before {
		content: '';
		background-image: var(--image);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		@include allsize(28rem);
	}
	& > div:nth-child(1) {
		flex: 1;
		& > *:nth-child(1) {
			font-weight: 590;
		}
		& > *:nth-child(2) {
			font-weight: 400;
		}
	}
	& > div:nth-child(2) {
		color: #5AC8FA;
		font-weight: 400;
		font-size: 17rem;
		letter-spacing: -0.43px;
	}
}