@import '../../index.module.scss';

.wrapper {
	position: fixed;
	inset: 0px;
	overflow: auto;
	padding-left: adaptiveSize(16);
	padding-right: adaptiveSize(16);
	padding-bottom: calc( adaptiveSize(16) + var(--tabbarheight) );
	& > *:first-child {
		padding-top: adaptiveSize(24);
		padding-bottom: adaptiveSize(24);
	}
}


.grid {
	display: grid;
	column-gap: adaptiveSize(8);
	row-gap: adaptiveSize(8);
	grid-template-columns: 1fr 1fr 1fr;
	color: var(--closeButtonFg);
	font-size: adaptiveSize(12);
	letter-spacing: -0.08px;

	& > * {
		border-radius: 12px;
		background-color: var(--closeButtonBg);
		padding-left: adaptiveSize(16);
		padding-right: adaptiveSize(16);
		padding-top: adaptiveSize(8);
		padding-bottom: adaptiveSize(12);
	}

	.name {
		text-align: center;
	}

	.image {
		aspect-ratio: 1/1;
		margin-bottom: adaptiveSize(8);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.send {
		background-color: #007AFF;
		border-radius: 100px;
		color: white;
		padding-top: adaptiveSize(6);
		padding-bottom: adaptiveSize(6);
		// padding-left: adaptiveSize(16);
		// padding-right: adaptiveSize(16);
		font-weight: 600;
		text-align: center;
		font-size: adaptiveSize(13);
		letter-spacing: -0.08px;
	}

}