@import '../../index.module.scss';

$bottomPadding: 20px;

@keyframes label {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.tabbar {

	z-index: 344343;

	// padding-top: 4rem;
	background-color: var(--headerColor);
	backdrop-filter: blur(100px);

	max-height: var(--tabbarheight);
	min-height: var(--tabbarheight);
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	user-select: none;

	font-size: 10rem;
	font-weight: 500;
	display: flex;

	padding-bottom: $bottomPadding;

	& > * {
		flex: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		color: #959595;

		& > *:first-child {
			min-height: 26rem;
			max-height: 26rem;
		}



		* {
			fill: currentColor;
		}
	}

	& > *[data-active] {
		color: #0080fa;
		span {
			animation-name: label;
			animation-duration: 250ms;
		}
	}

}

.tabbarHide {
	display: none;
}

:root:has(.tabbar) {
	--tabbarheight: calc(50rem + #{$bottomPadding});
}

:root:has(.tabbarHide) {
	--tabbarheight: 0px;
	.tabbar {
		display: none;
	}
}